.event-data-content{
    overflow: auto;
}

.event-data-content::-webkit-scrollbar {
    display: none;
  }

.item-container{
    color:#ffffff;
    background-color: #292525;
    margin:10px;
    padding:20px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px){
    .event-data-content{
        justify-content: center;
        margin-top: 10px;
    }
    .item-container{
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .event-data-content{
        height: 70vh;
    }
    .item-container{
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
}